<!-- Page filter CARD -->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="row">
      <!-- TOP TITLE -->
      <div class="col col-md-6">
        <!-- CARD TITLE -->
        <h5 class="card-title">
          {{ '::MenuPageList' | abpLocalization }}
        </h5>
      </div>

      <!-- CREATE PAGE BUTTON -->
      <div class="col col-md-6">
        <div class="col-auto d-flex justify-content-end my-2">

          <button id="createPage" class="btn btn-primary" type="button" (click)="CreatePage()">
            <i class="fa fa-plus mr-1"></i>&nbsp;
            <span>{{"::NewPage" | abpLocalization}}</span>
          </button>

        </div>
      </div>

    </div>
  </div>

  <div class="card-body">
    <!-- SEARCH PAGE  -->
    <div class="col col-md-12">
      <!-- FORM -->
      <form (submit)="SearchPage()">
        <!-- INPUTE SEARCH -->
        <div class="input-group">
          <input class="form-control" [placeholder]="'::Search'| abpLocalization" name="getPages.filter"
            [(ngModel)]="getPages.filter" (keyup)="SearchPage()" autocomplete="off">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Page List CARD -->
<div class="card">
  <!-- BODY -->
  <div class="card-body">

    <!-- TABLE PAGES -->
    <ngx-datatable [rows]="page.items" [count]="page.totalCount" [list]="list" (page)="onPage($event)" default>

      <!-- ACTIONS -->
      <ngx-datatable-column [name]="'::Actions' |abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              ngbDropdownToggle>
              <i class="fa fa-cog mr-1"></i>{{'::Actions' | abpLocalization}}
            </button>
            <!-- ACTION ITEMS -->
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="Details(row.id)">{{'::Details' | abpLocalization}}</button>
              <button ngbDropdownItem (click)="EditPage(row.id)">{{'::Edit' | abpLocalization}}</button>
              <button ngbDropdownItem (click)="DeletePage(row.id,row.title)">{{'::Delete' | abpLocalization}}</button>
              <button ngbDropdownItem (click)="SetAsHomePage(row)">{{'::SetAsHomePage' | abpLocalization}}</button>
              <button ngbDropdownItem (click)="Creator(row.creatorId)">{{'::Creator' | abpLocalization}}</button>
              <button ngbDropdownItem (click)="LastModification(row.lastModifierId)">{{'::LastModification' |abpLocalization}}</button>
            </div>

          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- TITLE -->
      <ngx-datatable-column [name]="'::Title' |abpLocalization" prop="title" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.title}}
        </ng-template>
      </ngx-datatable-column>

      <!-- IS HOME PAGE -->
      <ngx-datatable-column [name]="'::IsHomePage' | abpLocalization" prop="isHomePage" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="badge text-bg-success" *ngIf="row.isHomePage">{{"::Yes" | abpLocalization}}</span>
          <span class="badge text-bg-danger" *ngIf="!row.isHomePage">{{"::No" | abpLocalization}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- CREATION TIME -->
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.creationTime}}
        </ng-template>
      </ngx-datatable-column>

      <!-- LAST MODIFICATION TIME -->
      <ngx-datatable-column [name]="'::LastModificationTime' | abpLocalization" prop="lastModificationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.lastModificationTime}}
        </ng-template>
      </ngx-datatable-column>





    </ngx-datatable>


  </div>
</div>




<!-- Edit or add PAGE Modal -->
<abp-modal [(visible)]="isModalOpen">
  <!-- HEADER -->
  <ng-template #abpHeader>
    <h3>{{ (selectedPage.id ? '::Edit' : '::NewPage') | abpLocalization}} </h3>
  </ng-template>
  <!-- BODY -->
  <ng-template #abpBody>
    <!-- FORM -->
    <form [formGroup]="form" (ngSubmit)="save()">

      <div class="form-group">
        <p>{{errorMessage | abpLocalization}}</p>
        <app-error>

        </app-error>
      </div>

      <!-- TITLE FIELD -->
      <div class="form-group">
        <label for="page-title">{{'::Title' | abpLocalization}}</label><span class="text-danger"> * </span>
        <input type="text" id="page-title" class="form-control" formControlName="title" autofocus />
      </div>

      <!-- CONTENT FIELD -->
      <div class="form-group mt-2">
        <label for="page-content">{{'::Content' | abpLocalization}}</label>
        <input type="text" id="page-content" class="form-control" formControlName="content" />
      </div>

      <!-- STYLE FIELD -->
      <div class="form-group mt-2">
        <label for="page-style">{{'::Style' | abpLocalization}}</label>
        <textarea class="form-control" id="page-style" id="" cols="30" rows="5" name="style"
          formControlName="style"></textarea>
      </div>

      <!-- Script FIELD -->
      <div class="form-group mt-2">
        <label for="page-script">{{'::Script' | abpLocalization}}</label>
        <textarea class="form-control" id="page-script" id="" cols="30" rows="5" name="script"
          formControlName="script"></textarea>
      </div>


    </form>

  </ng-template>

  <!-- FOOTER -->
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="Save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>


</abp-modal>




<!--user detail PAGE Modal -->
<abp-modal [(visible)]="isModalUserDetailOpen">
  <!-- HEADER -->
  <ng-template #abpHeader>
    <h3>{{'::AuditLog' | abpLocalization}} </h3>
  </ng-template>
  <!-- BODY -->
  <ng-template #abpBody>

    <!-- content -->
    <table class="table table-striped ">
      <thead class="">
        <tr class="">
          <th class="">{{'::PropertyName' | abpLocalization}}</th>
          <th class="">{{'::Value' | abpLocalization}}</th>
        </tr>
      </thead>
      <tbody class="">


        <tr class="">
          <td class="">{{'::UserName' | abpLocalization}}</td>
          <td class="">{{user.userName}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::Name' | abpLocalization}}</td>
          <td class="">{{user.name}}</td>
        </tr>


        <tr class="">
          <td class="">{{'::Surname' | abpLocalization}} </td>
          <td class="">{{user.surname}}</td>
        </tr>


        <tr class="">
          <td class="">{{'::Email' | abpLocalization}} </td>
          <td class="">{{user.email}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::PhoneNumber' | abpLocalization}} </td>
          <td class="">{{user.phoneNumber}}</td>
        </tr>






      </tbody>
    </table>

  </ng-template>

  <!-- FOOTER -->
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>


  </ng-template>


</abp-modal>



<!-- detail PAGE Modal -->
<abp-modal [(visible)]="isModalDetailOpen">
  <!-- HEADER -->
  <ng-template #abpHeader>
    <h3>{{'::Details' | abpLocalization}} </h3>
  </ng-template>
  <!-- BODY -->
  <ng-template #abpBody>

    <!-- content -->
    <table class="table table-striped ">
      <thead class="">
        <tr class="">
          <th class="">{{'::PropertyName' | abpLocalization}}</th>
          <th class="">{{'::Value' | abpLocalization}}</th>
        </tr>
      </thead>
      <tbody class="">


        <tr class="">
          <td class="">{{'::Title' | abpLocalization}}</td>
          <td class="">{{selectedPage.title}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::IsHomePage' | abpLocalization}}</td>
          <td class="" [ngSwitch]="selectedPage.isHomePage">
            <span class="badge bg-success me-1" *ngSwitchCase="true">{{selectedPage.isHomePage}}</span>
            <span class="badge bg-danger me-1" *ngSwitchCase="false">{{selectedPage.isHomePage}}</span>
          </td>
        </tr>

        <tr class="">
          <td class="">{{'::CreationTime' | abpLocalization}}</td>
          <td class="">{{selectedPage.creationTime}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::LastModificationTime' | abpLocalization}}</td>
          <td class="">{{selectedPage.lastModificationTime}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::Content' | abpLocalization}}</td>
          <td class="">{{selectedPage.content}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::Style' | abpLocalization}}</td>
          <td class="">{{selectedPage.style}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::Script' | abpLocalization}}</td>
          <td class="">{{selectedPage.script}}</td>
        </tr>








      </tbody>
    </table>

  </ng-template>

  <!-- FOOTER -->
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>


  </ng-template>


</abp-modal>
