<!-- Page filter CARD -->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="row">
      <!-- TOP TITLE -->
      <div class="col col-md-6">
        <!-- CARD TITLE -->
        <h5 class="card-title">
          {{ '::SecurityLogs' | abpLocalization }}
        </h5>
      </div>
    </div>
  </div>

  <div class="card-body">
    <!-- SEARCH PAGE  -->
    <div class="col col-md-12">
      <!-- FORM -->

      <form (submit)="Search()">
        <!-- INPUTE SEARCH -->
        <div class="input-group">
          <input class="form-control" [placeholder]="'::Search'| abpLocalization" name="queryFilter.search"
            [(ngModel)]="queryFilter.search" (keyup)="Search()" autocomplete="off">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>

    </div>

    <!-- Filters -->
    <div class="col col-md-12 mt-3">


    </div>




  </div>
</div>
<!-- Page List CARD -->
<div class="card">

  <!-- BODY -->
  <div class="card-body">

    <!-- TABLES -->
    <ngx-datatable [rows]="SecurityLogs.items" [count]="SecurityLogs.totalCount" [list]="list" [rowHeight]="50" (page)="onPage($event)" default>

      <!-- Actions BUTTON -->
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>

          <button type="button" class="btn btn-primary text-center ng-star-inserted" (click)="Detail(row.id)">
            <i class="me-1 fa fa-eye ng-star-inserted"></i>
            <span class="ng-star-inserted">{{'::Details' | abpLocalization}}</span>
          </button>
        </ng-template>

      </ngx-datatable-column>

      <!-- ApplicationName  -->
      <ngx-datatable-column [name]="'::ApplicationName' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="">{{row.applicationName}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- UserName  -->
      <ngx-datatable-column [name]="'::UserName' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="">{{row.userName}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Action  -->
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span [ngSwitch]="row.action">
            <i class="badge bg-success me-1" *ngSwitchCase="'LoginSucceeded'">{{'::Success200' | abpLocalization}}</i>
            <i class="badge bg-danger me-1" *ngSwitchDefault>{{row.action}}</i>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <!-- BrowserInfo  -->
      <ngx-datatable-column [name]="'::BrowserInfo' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="">{{row.browserInfo}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- TenantName  -->
      <ngx-datatable-column [name]="'::TenantName' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="">{{row.tenantName}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- identity  -->
      <ngx-datatable-column [name]="'::Identity' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="">{{row.identity}}</p>
        </ng-template>
      </ngx-datatable-column>

      <!-- clientIpAddress  -->
      <ngx-datatable-column [name]="'::ClientIpAddress' | abpLocalization" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="">{{row.clientIpAddress}}</p>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>



<!-- Modal -->

<abp-modal [(visible)]="isModalOpen">
  <!-- HEADER -->
  <ng-template #abpHeader>
    <h3>{{'::AuditLog' | abpLocalization}} </h3>
  </ng-template>
  <!-- BODY -->
  <ng-template #abpBody>

    <!-- content -->
    <table class="table table-striped ">
      <thead class="">
        <tr class="">
          <th class="px-4">{{'::PropertyName' | abpLocalization}}</th>
          <th class="">{{'::Value' | abpLocalization}}</th>
        </tr>
      </thead>
      <tbody class="">

        <tr class="">
          <td class="">{{'::ApplicationName' | abpLocalization}} </td>
          <td class="">{{securitylog.applicationName}} : </td>
        </tr>

        <tr class="">
          <td class="">{{'::User' | abpLocalization}}</td>
          <td class="">{{securitylog.userName}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::TenantName' | abpLocalization}}</td>
          <td class="">{{securitylog.tenantName}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::Action' | abpLocalization}} </td>
          <td class="">
            <span [ngSwitch]="securitylog.action">
              <i class="badge bg-success me-1" *ngSwitchCase="'LoginSucceeded'">{{row.action}}</i>
              <i class="badge bg-danger me-1" *ngSwitchDefault>{{securitylog.action}}</i>
            </span>

          </td>

        </tr>

        <tr class="">
          <td class="">{{'::ClientIpAddress' | abpLocalization}}</td>
          <td class="">{{securitylog.clientIpAddress}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::BrowserInfo' | abpLocalization}} </td>
          <td class="">{{securitylog.browserInfo}}</td>
        </tr>

        <tr class="">
          <td class="">{{'::CreationTime' | abpLocalization}}</td>
          <td class="">
            <span class="badge bg-info me-1">{{securitylog.creationTime}}</span>
          </td>
        </tr>



      </tbody>
    </table>

  </ng-template>

  <!-- FOOTER -->
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>


  </ng-template>


</abp-modal>
